<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/materialize.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spring Todo Application</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">
                <i class="material-icons">toys</i>Spring MVC Playground</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Create another Todo</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <ul class="collection">

                <li th:each="todo : ${todos}" class="collection-item avatar" >
                    <a th:href="@{/todos/} + ${todo.id}">
                        <div>
                            <span th:text="${todo.name}">Title</span>
                            <p th:text="${todo.description}">First Line</p>

                            <label class="secondary-content">
                                <input type="checkbox" class="done-checkbox" th:attr="data-id=${todo.id}"
                                       th:checked="${todo.done}"/>
                                <span>Done</span>
                            </label>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </main>

    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2018 Maximilian Schreiber
                <a class="grey-text text-lighten-4 right" href="https://github.com/maximilianschreiber/spring-todo">Find me on Github</a>
            </div>
        </div>
    </footer>
    <script th:src="@{/js/materialize.min.js}" rel="stylesheet"> </script>
    <script th:src="@{/js/jquery.min.js}" rel="stylesheet"> </script>
    <script th:src="@{/js/todo.js}" rel="stylesheet"> </script>
</body>

</html>